<% provide(:title, "About") %>
<div class="well well-small">
	<p>Built entirely as a resource for MUD (text-based, real-time multiplayer games) players to share logs with each other, CocoLog strives to provide a comprehensive interface and suite of features to accompany logs posted here, most features having been added at the request of several MUD players. Currently, CocoLog readily supports only a few realms, but if you are a player or administrator and want yours added, please feel free to <em><a href="/contact">contact me</a></em> and I will gladly add it.</p>
	<br />
	<h4>Creation</h4>
	<p>In an effort to learn Ruby on Rails, Alicia Konnen wrote CocoLog (originally, and still internally, Hogger) in the course of four long, sleepless days of keyboard slavery. The inspiration for this project comes from Martin Tee, a prominent player in certain Iron Realms Entertainment games. Martin Tee also provided the domain name for this project. Constant input was provided from multiple individuals, all of which are either MUD players or administrators, and features were rapidly added the first few days at the request and input of these individuals.</p>
	<br />
	<h4>Features</h4>
	<ul>
		<li>HTML Log Uploads</li>
		<li>Log commenting</li>
		<li>Private, unlisted logs</li>
		<li>Comprehensive log searching</li>
	</ul>
	<br />
	<h4>Planned features</h4>
	<ul>
		<li>Side-by-side log viewing</li>
		<li>Log voting</li>
		<li>Timestamp reading for interactive logs</li>
	</ul>
</div>
