<h2>Frequently Asked Questions</h2>

<div class="well">
	<h3>Table of Contents</h3>
	<a href="#faq_1">My log isn't displaying properly</a><br />
	<a href="#faq_2">Somebody is claiming to be me in a log</a><br />
	<a href="#faq_3">Why should we use CocoLog over &lt;some other site&gt;?</a><br />
	<a href="#faq_4">I have a bug report/feature request/feedback</a><br />
	<a href="#faq_5">Will there ever be ads on CocoLog?</a><br />
	<a href="#faq_6">Is there any way I can contribute to CocoLog?</a><br />
	<a href="#faq_7">What does CocoLog run on?</a><br />
	<a href="#faq_8">Do I have to log in to post a log?</a><br />
	<a href="#faq_9">Is there a way I can have my log be unlisted?</a><br />
	<a href="#faq_10">Can you see my private logs?</a><br />
	<a href="#faq_11">Can I be a moderator?</a><br />
	<a href="#faq_12">How actively moderated are public logs?</a><br />
</div>

<br /><br />

<div class="well">
	<h4><a name="faq_1">My log isn't displaying properly</a></h4>
	<p>We apologize profusely about this. It is our goal to have CocoLog be compatable with every log a MUD client can produce. If possible, it would be helpful if you use the <a href="/contact">contact form</a> to send us a link to the log and a short description of what's wrong with it, and we'll correct it as soon as humanly possible.</p>
</div>

<div class="well">
	<h4><a name="faq_2">Somebody is claiming to be me in a log</a></h4>
	<p>This is a concern with a system like CocoLog, which allows you to use any name you wish (as we don't, at this time, verify names). If you've found a log in which somebody is claiming to be you, please use the <a href="/contact">contact form</a> to contact us. Be sure to send a link to the log in question, and please be sure to use a real email address we can reach you at, as we will likely need to inquire about the identity in question and verify the complaint is valid.</p>
</div>

<div class="well">
	<h4><a name="faq_3">Why should we use CocoLog over &lt;some other site&gt;?</a></h4>
	<p>Sites like this are just tools used to do a specific thing. Whether you use this one or another is entirely up to you, and we don't feel the need to convince somebody to use CocoLog exclusively. However, we do hope CocoLog's features and development speed will speak for itself.</p>
</div>

<div class="well">
	<h4><a name="faq_4">I have a bug report/feature request/feedback</a></h4>
	<p>You may send it to us using the <a href="/contact">contact form</a>, or if you need to attach something, you can send it directly to <a href="mailto:feedback@taernae.net">feedback@taernae.net</a>.</p>
</div>

<div class="well">
	<h4><a name="faq_5">Will there ever be ads on CocoLog?</a></h4>
	<p>No. While ads have their place, I don't feel CocoLog is such a place. CocoLog will, while under my control, never have ads.</p>
</div>

<div class="well">
	<h4><a name="faq_6">Is there any way I can contribute to CocoLog?</a></h4>
	<p>Yes, depending on how you mean. If you wish to help fund CocoLog's server fees, the footer contains a contribution link. If you wish to help develop CocoLog, you may send us a request for the source code using the <a href="/contact">contact form</a>, or directly to <a href="mailto:feedback@cocolog.net">feedback@cocolog.net</a>.</p>
</div>

<div class="well">
	<h4><a name="faq_7">What does CocoLog run on?</a></h4>
	<p>CocoLog is coded and created using Ruby on Rails, and is run on a Thin server with NGINX as a proxy. The server is a VPS rented by Linode in SoftLayer's Dallas, TX datacentre.</p>
</div>

<div class="well">
	<h4><a name="faq_8">Do I have to log in to post a log?</a></h4>
	<p>No. However, it is highly recommended that you do. This will allow you to keep track of logs you have uploaded, as well as delete them in the future should you wish.</p>
</div>

<div class="well">
	<h4><a name="faq_9">Is there a way I can have my log be unlisted?</a></h4>
	<p>Yes. You may check the box labeled "Private" when uploading a log, and this will de-list the log. As well, while not implemented yet (as of 20.2.2013), we do plan in the future to allow users to further protect their private logs with passwords.</p>
</div>

<div class="well">
	<h4><a name="faq_10">Can you see my private logs?</a></h4>
	<p>I'll be honest. Yes, I do. However, I have neither the interest nor the time to go through every single log, and will generally only actively moderate or even view non-private ones unless a complaint is received about them. As well, if I decide to have another individual help moderate the site, chances are they will not be given access to private log listings whatsoever. Privacy is one of my first concerns, after all.</p>
</div>

<div class="well">
	<h4><a name="faq_11">Can I be a moderator?</a></h4>
	<p>No. Unless the answer is yes. I personally prefer to only give that kind of power to people I know and trust personally. However, you are more than free to send an application. You may send it to us using the <a href="/contact">contact form</a>, or directly to <a href="mailto:feedback@taernae.net">feedback@taernae.net</a>.</p>
</div>

<div class="well">
	<h4><a name="faq_12">How actively moderated are public logs?</a></h4>
	<p>I prefer not to have too much of an iron hand about this kind of thing. The only public logs I will likely actively moderate are those that violate laws (as in the jurisdiction of Ventura County, California, U.S.A.), break CocoLog's Terms of Service, or are blatant "mudsex" logs. (Note: Private logs with adult content will most likely not be moderated unless a complaint is received and they violate the ToS.)</p>
</div>
