<% provide(:title, "404") %>
<h2>Page Not Found</h2>
<div class="well">
	<p>Well, you've done it now. Perhaps you were looking for adventure, or perhaps treasure. Perhaps you just wanted to find your way home. But you've gone and gotten yourself lost. Well, I suppose there are worse places to get lost. At least this isn't some dark, foreboding cave or some lich's lair. At least you're in good health. You haven't walked into a gelatinous cube, and your corpse isn't being pecked to death by some sort of duckbunny. Oh, how embarassing that would be. And hey, you do have the clothes on your back. And they aren't trying to eat you! See? Things could be worse than getting lost here. Ah, but here I am babbling. You should probably find your way out of here... It's quite dark, and neither of us seems to have a torch!</p>
<br />
<pre>
It is pitch black. You are likely to be eaten by a grue.
&gt;           (<a href="/">Find your way home</a>) (<%= link_to "Go back", :back %>)
</pre>
</div>
