<% provide :title, "Thank you!" %>
<div class="well well-small">
	<p>Thank you for showing your appreciation for everything we've done! That you're willing to help contribute to running CocoLog is amazing, and we're glad we've done something you're willing to help with. It means the world to us, and if I could, I would reach through this computer screen and hug you! Seriously, it fills me with joy and feelings!</p>
	<p>Of course, I'm sure you're wondering what your contribution is going to. I would too if I donated. Rest assured, 100% of it goes to maintaining the server. Any that's not used at the end of the month will roll over to the next month, and none of it will be used to buy the developer beer (unless you specifically request your money goes to that - we won't argue).</p>
	<p>If you have any questions or concerns at all, please, feel free to contact us using the contact form (or email feedback@taernae.net). We read each and every email we receive, and will usually answer when we get it. And from the bottom of my heart, thank you again.</p>
	<br />
	~ Alicia Konnen, Developer and Owner
</div>
