<p>Hello again, <%= @resource.email %>!</p>

<p>We have received a request to change your password on CocoLog.  If this was you, please click the link below and you will be forwarded to CocoLog to make the change. If it wasn't you, we're really sorry about that, and you're free to ignore this email.</p>

Thank you,<br />
CocoLog.<br />

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
